[setup]
statement_files = ["sql/create_countries.sql"]

    [[setup.data_files]]
    target = "countries"
    source = "data/countries.json" # paths are relative to the spec file

[[queries]]
statement = "select count(*) from countries"
iterations = 100
concurrency = 2

[[queries]]
statement = '''select count(*) from countries where "isoNumeric" = ?'''
args = ["020"]
iterations = 10
concurrency = 1

[[queries]]
statement = '''delete from countries where "countryCode" = ?'''
bulk_args = [["AE"], ["AF"]]
# iterations = 1 & concurrency = 1 is the default for queries

[[queries]]
statement = 'select 10'
min_version = '20.80.2'

[teardown]
statements = ["drop table countries"]
